<h5>You have $<%= session[:money].to_i %></h5>
<h4>How much do you want to bet?</h4>
<form action='/bet' method='post'>
	<div class="input-prepend">
	<span class="add-on">$</span>
	<input type='number' min='1' max=<%= session[:money]%> name='bet_amount'/>
</div>
</br>
<input type='submit' class='btn btn-inverse' value='Ok'/>
</form>